@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

a {
    font-size: 18px;
    color: #F5F5F5;
    text-decoration: none;

}

button {
    padding: 8px 32px;
    background-color: #F5F5F5;
    font-size: 18px;
    color: #000000;
    border-radius: 8px;
    font-weight: 600;

}

p {
    font-size: 18px;
    color: #F9FAF8;
}


.text-tittle,
.signup-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
    
    
}

.header-container {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    padding: 20px 160px 0px 160px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    font-size: 24px;
    color:  #F5F5F5;
    font-weight: 900;

}

.links-container {
    display: flex;
    gap: 50px;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 130px;
}

.tittle-content {
    text-align: left;
    width: 600px;


}

.tittle {
    font-size: 48px;
    color: #F5F5F5;
    font-weight: 900;
    margin: 0;
}

.header-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-img {
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    max-width: 100%; 
    max-height: 100%;
    width: 700px;
    height: 250px; 
    object-fit:cover;
}


.signup {
    margin-top: 15px;
    border: none;
}

.header-info {
    font-size: 36px;
    color: #36454F;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 250px;
    width: 170px;
}

.item-img {
    border: 4px solid #36454F;
    border-radius: 15px;
    height: 160px;
    width: 160px;
    
    
    
}

.text-item {
    text-align: center;
    font-size: 18px;
    margin: 0;
    color: #36454F;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 120px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.quote {
    text-align:justify;
    font-size: 36px;
    color: #2C3E50;
    font-weight: 300;
    margin: 0;
    

}

.quote-autor {
    font-size: 24px;
    color: #2C3E50;
    font-weight: bold;
    align-self: self-end;
    margin: 0;
    
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 120px;
    background-color: #000000;
    margin: 100px 180px;
    border-radius: 8px;
}

.signup-info {
    display: flex;
    flex-direction: column;
}

.signup-tittle {
    font-size: 24px;
    font-weight: bold;
    color: #F5F5F5;
    margin: 0;
}

.secondary-signup {
    border: 2px solid;
    border-color: #F9FAF8;
}

.footer-container {
    background-color: #000000;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}







