@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}


.text-tittle {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
    
    
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    padding: 20px 200px 0px 200px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    font-size: 24px;
    color:  #F9FAF8;
    font-weight: 900;

}

.links-container {
    display: flex;
    gap: 25px;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 125px;
    gap: 50px;
}

.tittle-content {
    text-align: left;
    width: 600px;


}

.tittle {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.header-img {
    background-color: gray;
    flex-basis: 1;
    width: 700px;
    height: 240px;
}

.signup {
    padding: 8px 35px;
    background-color: #3882f6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    font-weight: 600;
    
}

.header-info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 250px;
    width: 150px;
}

.item-img {
    border: 3px solid #3882f6;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    
    
}

.text-item {
    text-align: center;
    margin: 0;
    color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 125px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    text-align:justify;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin: 0;
    

}

.quote-autor {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    align-self: self-end;
    margin: 0;
    
}



